<!-- <div style="height: 10vh;">
 <div class="d-flex justify-content-center align-items-center">
     <div class="col-md-12 d-flex justify-content-center align-items-center">
        <div class="btn-group me-2" role="group" aria-label="First group">
            <button type="button" class="btn btn-primary" [routerLink]="['/juegos/tateti']">Tateti</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/juegos/tateti']">Mayor o menor</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/juegos/tateti']">Preguntados</button>
            <button type="button" class="btn btn-primary" [routerLink]="['/juegos/tateti']">Mines</button>
          </div>
     </div>
 </div>
</div> -->
<router-outlet></router-outlet>