<!-- <div class="mt-4">
    <div class="col-md-12 "> 
        <div class="col-md-4 d-flex justify-content-center flex-column" style="margin-left: 10px; "> 
            <h4  style="color: white; font-size: 30pt; ">Ezequiel</h4>          
            <img src="../../assets/Human.png" style="width:20% ;" >            
        </div>
       
    </div>
    <div class="col-md-12 row">
      
        <div class="col-md-6">
            <ul style="color: white;">
                <li> 26 Años</li>
                <li> DNI 39626870</li>
            </ul>
        </div>
        
    </div>
    
</div>
 -->

 <div class="container">
    <div class="card">
      <img src="../../assets/Human.png" alt="Person" class="card__image">
      <p class="card__name">Ezequiel</p>
      <div class="grid-container">
  
        <div class="grid-child-posts">
          300 credits
        </div>
  
        <div class="grid-child-followers">
          Best strike: 8 
        </div>
  
      </div>
      <ul class="social-icons">
        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-codepen"></i></a></li>
      </ul>
    </div>
    
  </div>
  

